<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title class="titleClass"><%= title %></title>
</head>
<body>
    
    <nav class="nav">
        <a href="/" >Home </a> |
        <a href="/patients" >Patients </a> | 
        <a id="addPatient" href="/patients/new">Add Patient</a> |
        <a href="/users" >Providers</a> 
        <a id="login" href="/">Login</a>
        
          
    </nav>

    <h1><%= title %></h1>