<%- include('../partials/header') %>


<br>

<form class="custom-form" action="/patients/<%= patient._id %>" method="POST" id="new-vitals-form">

    <label>Heart rate:
        <input type="number" name="heartRate" min="0"> bpm
    </label>
    <br>
    <label>Systolic blood pressure:
        <input type="number" name="systolic" min="0"> mmHg
    </label>
    <br>
    <label>Diastolic blood pressure:
        <input type="number" name="diastolic" min="0"> mmHg
    </label>
    <br>
    <label>Respirations:
        <input type="number" name="respirations" min="0"> /min
    </label>
    <br>
    <label>O2 saturation:
        <input type="number" name="oxygenSat" min="0" max="100"> %
    </label>
    <br>
    <label>Temperature:
        <input type="number" name="temp" min="0" step="any"> °C
    </label>
    <br>
    <label>Time:
        <input type="datetime-local" name="time" required>
    </label>
    <br>
    <button type="submit">Add Vital Signs</button>
</form>

<%- include('../partials/footer') %>
