<%- include('../partials/header') %>

<div class="flex-center-container">

    <div class="beige-background">

        <p class="lineBreakText"><%=formattedOutput%></p>
    
    </div>
</div>

<%- include('../partials/footer') %>
