<%- include('../partials/header') %>
<title>Add New Patient</title>

<div class="custom-form-container">
  <form class="custom-form-2-col" id="new-patient-form" action="/patients" method="post">
  <h3>Name:</h3> 
  <input type="text" id="name" name="name" required>
  
  <h3>Date of Birth:</h3>
  <input type="date" id="DOB" name="DOB" required>

  <h3>Chief Complaint: </h3>
  <input type="text" id="chiefComplaint" name="chiefComplaint" required>

  <h3>Medical History: </h3>
  <input type="text" id="medHx" name="medHx">
  
  </form>
<button type="submit">Add Patient</button>
</div>
  


  <%- include('../partials/footer') %>