body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border-collapse: collapse;
  /* display: flex;
  justify-content: center; 
  align-items: flex-start; */
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

.list {
  border: 1px solid black;
}

.list th, td{
  width: 250px;
  border: 1px solid black;
}


#login {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  
}

#footer {
  position: absolute;
  bottom: 0;
}

/* #list {
  display: flex;
  justify-content: space-evenly;
} */


.WavelengthsClass {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}



body {
  background-image: url("../medicalBackground.jpg");
  background-size: cover;
}

 .table-container{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: fit-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}