body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.nav {
  display: flex;
  justify-content: flex-start;
  margin: auto;

}


#login {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  
}


/* #list {
  display: flex;
  justify-content: space-evenly;
} */