body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border-collapse: collapse;
  /* display: flex;
  justify-content: center; 
  align-items: flex-start; */
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  background-color: beige;
  padding: 20px;
}

.list {
  border: 1px solid black;
}

.list th, td{
  width: 250px;
  border: 1px solid black;
}


#login {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: rgb(8, 8, 8); 
  margin-left: 10px;

}

#patients-show-grid {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-collapse: collapse;
  border: 1px solid black;
  
}

#patients-show-grid h3, p {
  height: 20px;
}


#user-show-grid {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-collapse: collapse;
  border: 1px solid black;
  
}

#user-show-grid h3, p {
  height: 15px;
}

#assigned-patients-grid {
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-collapse: collapse;
  border: 1px solid black;
  
}

#assigned-patients-grid h3, p {
  height: 15px;
}

#vitals-main-container {
  background-color: beige;
  display: flex;
  flex-direction: row;
  height: 400px;
}



/* #vitals-main-container div {
  display: flex;
  flex-direction: column;
} */

.addObject {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10vh;
}




.Home-nav:hover, button:hover, #addHospitalRecord:hover, .login:hover {
    background-color: #18c212 
    
}

button, .Home-nav, #addHospitalRecord{

  display: inline-block;

  display: flex;
  flex-direction: column;

  margin-left: 5px; 
  padding: 4px 8px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}


.Home-nav:last-of-type {
  margin-left: auto;
}

.WavelengthsClass {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.vitals-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-right: 15px;
}



.dischargeForm{
  display: flex;
  justify-content: center;
  align-items: baseline;
}


body {
  background-image: url("../medicalBackground.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

 .table-container{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: fit-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}


.IndexAddPatient{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.abnormal-vitals {
  color: red;
  font-weight: bold;
}


.login {
  display: flex;
  justify-content: flex-end;

  background-color: #9fc7e2;
  color: #131212;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  padding: 4px 8px;

  margin-left: auto;
  align-items: center;

  transition: background-color 0.3s ease-in-out;
}



.login img {
  height: 25px;
  background-color: #9fc7e2;
  transition: background-color 0.3s ease-in-out;
}

.discharged-highlight {
  background-color: rgb(225, 218, 218);
}


.wavelength-gif {
  display: flex;
  justify-content: center;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  background-color: white;
}

.home-text {
  display: flex;
  justify-content: center;
  margin-left: auto;
  background-color: white;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;

}