<%- include('../partials/header') %>

<br>

<form class="custom-form" action="/patients/<%= patient._id %>/progress-notes" method="POST" id="new-progress-note-form">
    <div>
        <h2>Subjective</h2><textarea class="progress-note" type="text" name="hpi"></textarea><br>
    </div>
    <div>
        <h2>Objective</h2><textarea class="progress-note" type="text" name="objective"></textarea><br>
    </div>
    <div>
        <h2>Assessment and Plan</h2><textarea class="progress-note" type="text" name="ap"></textarea><br>
    </div>
    <input class="text-area-submit-button" type="submit" value="Sign New Progress Note" />
</form>

<%- include('../partials/footer') %>