<%- include('../partials/header') %>


<br>
<div class="custom-form-container">
    <form class="custom-form-2-col" action="/users" method="POST" id="new-user-form">
        <h3>Name:</h3>
        <input type="text" name="name">

        <h3>Role:</h3>
        <select name="role">
            <option selected disabled>Select User's Role</option>
            <% options.forEach(function(option) { %>
                <option value= <%= option %>><%= option %></option>
            <% }) %>
        </select>
        </label>
        <h3>Admin privileges:</h3>
        <input type="checkbox" name="admin">
    </form>
    <button type="submit">Add Provider</button>
</div>

<%- include('../partials/footer') %>