<%- include('../partials/header') %>


<br>
<form class="custom-form" action="/users" method="POST" id="new-user-form">
    <label>Name
        <input type="text" name="name">
    </label>
    <br>
    <label>Role
            <select name="role">
                <option selected disabled>Select User's Role</option>
                <% options.forEach(function(option) { %>
                    <option value= <%= option %>><%= option %></option>
                <% }) %>
            </select>
    </label>
    <br>
    <label> Admin privileges
        <input type="checkbox" name="admin">
    </label>
    <br>

    <button type="submit">Add Provider</button>
</form>

<%- include('../partials/footer') %>